:root {
  --font-family: "Inter", "Helvetica Neue", sans-serif;
  --color-primary: #673ab7;
  --color-accent: #ffd740;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 0 2rem;
  font-family: Inter;
}

.page-wrap {
  padding: 2rem;
}