:root {
  --font-family: "Inter", "Helvetica Neue", sans-serif;
  --color-primary: #673ab7;
  --color-accent: #ffd740;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}