@import '~@angular/material/theming';

:root {
  --font-family: "Quicksand", "Helvetica Neue", sans-serif;
  --font-family-secondary: "Inter", "Helvetica Neue", sans-serif;
  --color-primary: #673ab7;
  --color-accent: #ffd740;
  --color-warn: #f44336;
  --shadow: 0px 3px 8px 0 rgba(65, 65, 65, 0.25);
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: '"Quicksand", "Helvetica Neue", sans-serif',
);

@include angular-material-typography($custom-typography);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 0 2rem;
  font-family: var(--font-family-secondary);
}

.page-wrap {
  padding: 2rem;
}

mat-card {
  box-shadow: var(--shadow) !important;
}

.mat-form-field-flex {
  padding-top: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-underline {
  bottom: 0;
}

.is-button-loading {
  color: transparent !important;
  pointer-events: none;

  &:before {
    box-sizing: border-box;
    position: absolute;
    content: "";

    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;

    border: 2px solid white;
    border-right: 2px solid transparent;

    animation: rotate-button 0.5s linear infinite;
  }
}

.orders {
  app-cart-line mat-card {
    box-shadow: none !important;
  }
}

.alert {
  margin: 1rem 0;
  border-radius: 4px;
  padding: 1rem 2rem;
  border: 2px solid var(--color-warn);
  color: var(--color-warn);
  font-weight: 600;

  a {
    color: var(--color-primary);
  }
}

@keyframes rotate-button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
