mat-card {
  padding: 0;
  display: flex;
  flex-direction: row;
  line-height: 0;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;

  .img-container {
    height: 100%;
    width: 100px;
    position: relative;
  }

  img {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-info {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  padding: 0.5rem 1rem;

  * {
    margin: 0;
  }

  mat-card-title {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.product-quantity {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;

  .price {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-primary);
  }

  app-product-actions {
    width: 200px;
  }
}
