<mat-card>
	<div class="img-container">
		<img [src]="product.imageUrl" [alt]="product.name">
	</div>
	<mat-card-content>
		<mat-card-title>{{ product.name }}</mat-card-title>
		<mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
		<p class="description" *ngIf="product.description">{{ product.description |
			slice:0:150}}{{(product.description.length > 150 ? '...' : '')}}</p>
	</mat-card-content>
	<p class="price">{{ product.price | currency:'RON' }}</p>
	<mat-card-actions>
		<app-product-actions [productId]="product._id"></app-product-actions>
	</mat-card-actions>
</mat-card>